<%- include("../partials/header"); -%>
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/master/admin/add-society" class="nav-link active"
            >add a new society</a
          >
        </li>
        <li class="nav-item">
          <a href="/master/admin/logout" class="nav-link active">log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br />
  <h2 class="table-title">manage societies</h2>
  <br />
  <table class="table table-bordered border-dark align-middle">
    <tr>
      <th>Sr no</th>
      <th>Society Name</th>
      <th>Society address</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>number of residents</th>
      <th>society Code</th>
      <th>manage admins</th>
      <th>Delete society</th>
    </tr>

    <% result.forEach(function(soc){ %>
    <tr>
      <td><%= result.indexOf(soc) + 1 %></td>
      <td><%= soc.name %></td>
      <td><%= soc.address %></td>
      <td><%= soc.city %></td>
      <td><%= soc.state %></td>
      <td><%= soc.postalCode %></td>
      <td><%= soc.users.length %></td>
      <td><%= soc.societyCode %></td>
      <td>
        <a
          type="button"
          href="/master/admin/manage-admins/<%= soc._id %> "
          class="btn btn-primary"
          >manage</a
        >
      </td>
      <td>
        <a
          type="button"
          href="/master/admin/delete/<%= soc._id %> "
          class="btn btn-danger"
          >delete</a
        >
      </td>
    </tr>
    <% }); %>
  </table>
</div>

<%- include("../partials/footer"); -%>
