<%- include("../partials/header"); -%>

<title>Smart Society | manage admins</title>


<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="/master/admin/add-society" class="nav-link active"
            >add a new society</a
          >
        </li>
        <li class="nav-item">
          <a href="/master/admin/logout" class="nav-link active">log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <br />
  <h2 class="table-title">manage admins of " <%= socName %> "</h2>

  <br />
  <% if (admins.length) { %>

  <table class="table table-bordered border-dark align-middle">
    <tr>
      <th>Sr no</th>
      <th>admin Name</th>
      <th>is Live</th>
      <th>delete</th>
    </tr>
    <% admins.forEach(admin => { %>
    <tr>
      <td><%= admins.indexOf(admin) + 1 %></td>
      <td><%= admin.name %></td>
      <td>
        <a
          type="button"
          href="/master/admin/manage-admins/accept/<%= admin._id %>"
          class="btn btn-<%= admin.isAccepted ? 'primary' : 'danger' %>"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="<%= admin.isAccepted ? 'remove' : 'restore' %> access"
          ><%= admin.isAccepted %></a
        >
      </td>
      <td>
        <a
          type="button"
          href="/master/admin/delete-admin/<%= admin._id %>"
          class="btn btn-danger"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="delete admin request"
          >delete</a
        >
      </td>
    </tr>
    <% }) %>
  </table>
  <% } else { %>
  <h2 class="table-title">no admins are registered for <%= socName %></h2>
  <% } %>
</div>

<%- include("../partials/footer"); -%>
