<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>

<title>Smart Society | handle-users</title>

<br />
<h3 class="table-title">handle users</h3>
<br />
<div class="container">
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>name</th>
      <th>email id</th>
      <th>block no</th>
      <th>contact no</th>
      <th>occupant type</th>
      <th>registered on</th>
      <th>delete user</th>
    </tr>
    <% users.forEach(function(user){ %>
    <tr>
      <td><%= users.indexOf(user) + 1 %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.blockNo %></td>
      <td><%= user.contact %></td>
      <td><%= user.occupantType %></td>
      <td><%= user.date %></td>
      <td>
        <a
          type="button"
          href="/admin/delete/<%= user._id %>"
          class="btn btn-danger"
          >delete</a
        >
      </td>
    </tr>
    <% }); %>
  </table>
</div>
<%- include("../partials/footer"); -%>
