<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>
<div class="container">
  <br />
  <h3 class="table-title">complaints</h3>
  <br />
  <table class="table table-bordered border-dark align-middle">
    <tr>
      <th>sr no</th>
      <th>title</th>
      <th>description</th>
      <th>filed on</th>
      <th>filed by</th>
      <th>admin's comment</th>
      <th>status</th>
    </tr>
    <% complaints.forEach(complaint => { %>

    <tr>
      <td><%= complaints.indexOf(complaint) + 1 %></td>
      <td><%= complaint.title %></td>
      <td>
        <!-- complaintId will be passed over to app.js to render a specific complaint -->
        <a href="/admin/complaints/<%= complaint._id %>"
          ><%= complaint.description %></a
        >
      </td>
      <td><%= complaint.filedOn %></td>
      <td>
        <%= complaint.filedBy.user.name %><br /><%=
        complaint.filedBy.user.blockNo %>
      </td>
      <!-- "no comment" will be the default value when a user files a complaint
         and will be overwritten by the admin -->
      <td><%= complaint.comment %></td>
      <td>
        <a
          type="button"
          href="/admin/complaints/resolve/<%= complaint._id %>"
          class="btn btn-primary"
          >Resolve</a
        >
      </td>
    </tr>
    <% }) %>
  </table>
</div>
<%- include("../partials/footer"); -%>
