<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>
<div class="container">
  <form action="/admin/circulars" method="post">
    <section class="">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5">ADD A NEW CIRCULAR</h3>

              <div class="form-outline mb-4">
                <input
                  class="form-control form-control-lg"
                  type="text"
                  name="title"
                  id="title"
                  placeholder="circular title"
                  autofocus
                />
              </div>
              <br />
              <div class="form-outline mb-4">
                <textarea
                  class="form-control"
                  name="details"
                  id="details"
                  placeholder="circular details"
                  cols="5"
                  rows="2"
                ></textarea>
              </div>
              <br />
              <input class="btn btn-primary btn-lg" value="Add" type="submit" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>

<div class="container">
  <h3 class="table-title">issued circulars</h3>
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>circular title</th>
      <th>circular details</th>
      <th>issuance date</th>
      <th>delete</th>
    </tr>
    <% circulars.forEach(function(circular){ %>
    <tr>
      <td><%= circulars.indexOf(circular) + 1 %></td>
      <td><%= circular.title %></td>
      <td><%= circular.details %></td>
      <td><%= circular.date%></td>
      <td>
        <a
          type="button"
          href="/admin/circulars/delete/<%= circular._id %>"
          class="btn btn-danger"
          >delete</a
        >
      </td>
    </tr>
    <% }); %>
  </table>
</div>
<%- include("../partials/footer"); -%>
