<%- include("../partials/header"); -%> <%- include("../partials/admin-navbar");
-%>

<div class="container">
  <br />

  <h3>
    <b><u>filed by : </u></b>
  </h3>
  <h4>
    <%= complaint.filedBy.user.name %> ( <%= complaint.filedBy.user.block %> )
    static on <%= complaint.filedOn %>
  </h4>
  <h3>
    <br />
    <b><u>complaint title:</u></b>
  </h3>
  <h4><%= complaint.title %></h4>
</div>
<br />

<div class="container">
  <form action="/admin/complaints/<%= complaint._id %>" method="post">
    <div class="w-25">
      <input
        class="form-control form-control-lg"
        id="comment"
        name="comment"
        type="text"
        placeholder="comment"
      />
      <label for="comment"
        ><span class="form-text"><h5>add your comment</h5></span></label
      >
    </div>
    <br />
    <input type="submit" class="btn btn-primary btn-md" value="submit" />
  </form>
</div>
<%- include("../partials/footer"); -%>
