<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%> <% if (!amenity.canBeBooked) { %>
<!-- amenity can't be booked -->
<div class="container-fluid">
  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5"><%= amenity.name %></h3>
            <img
              class="img-thumbnail"
              src="/<%= amenity.photo%>"
              alt="<%= amenity.name %>"
            /><br /><br /><br />
            <h3><%= amenity.name %> can't be booked.</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<% }else{ %>
<!-- amenity can be booked -->
<div class="container-fluid">
  <form action="/services/amenities/book/<%= amenity._id %>" method="post">
    <section class="vh-100">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card-body p-5 text-center">
              <h3 class="mb-5"><%= amenity.name %></h3>
              <img
                class="img-thumbnail"
                src="/<%= amenity.photo%>"
                alt="<%= amenity.name %>"
              /><br /><br />
              <div class="mb-4">
                <label class="form-label" for="bookFrom"
                  ><h4>book from :</h4></label
                ><br /><br />
                <input
                  class="form-control form-control-lg"
                  type="datetime-local"
                  name="bookFrom"
                  id="bookFrom"
                />
              </div>
              <br />
              <div class="mb-4">
                <label class="form-label" for="bookTill"
                  ><h4>book till :</h4></label
                ><br /><br />
                <input
                  class="form-control form-control-lg"
                  type="datetime-local"
                  name="bookTill"
                  id="bookTill"
                />
              </div>
              <br />
              <input class="btn btn-primary btn-lg" value="Add" type="submit" />
              <br />
            </div>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
<br />

<div class="container">
  <br />
  <br />
  <br /><br /><br /><br />
  <h3 class="table-title">bookings</h3>
  <br />
  <div class="table-responsive">
    <table style="width: 100%" class="table table-bordered border-dark">
      <tr>
        <th>sr no</th>
        <th>book from</th>
        <th>book till</th>
      </tr>
      <tr>
        <td>1</td>
        <td>17/02/2021 11:00 AM</td>
        <td>17/02/2021 03:00 PM</td>
      </tr>
    </table>
  </div>
</div>
<% } %>

<!-- /////////////////////////////////////////////////////////// -->
<%- include("../partials/footer"); -%>
