<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>
<title>Smart Society | amenities</title>

<br />
<div class="container">
  <h3 class="table-title">Amenities</h3>
  <br />
  <% amenities.forEach(amenity => { %>
  <ul>
    <li>
      <a href="/services/amenities/book/<%= amenity._id %>"
        ><h2><%= amenity.name %></h2></a
      >
    </li>
  </ul>
  <% }) %>
</div>
<br />
<hr />
<br />
<div class="container">
  <h3 class="table-title">Your bookings</h3>
  <br />
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>amenity</th>
      <th>book from</th>
      <th>book till</th>
    </tr>
    <tr>
      <% bookings.forEach(booking => { %>
      <td><%= bookings.indexOf(booking)+1 %></td>
      <td><%= booking.amenityName %></td>
      <td><%= booking.bookFrom.date %> <%= booking.bookFrom.time %></td>
      <td><%= booking.bookTill.date %> <%= booking.bookTill.time %></td>
    </tr>
    <% }) %>
  </table>
</div>
<%- include("../partials/footer"); -%>
