<%- include("../partials/header"); -%><%- include("../partials/user-navbar");
-%>

<div class="container">
  <br /><br />
  <h2 class="table-title">circulars</h2>
  <br />
  <table class="table table-bordered border-dark">
    <tr>
      <th>sr no</th>
      <th>title</th>
      <th>details</th>
      <th>issuance date</th>
    </tr>
    <tr>
      <% circulars.forEach(circular => { %>

      <td><%= circulars.indexOf(circular) + 1 %></td>
      <td><%= circular.title %></td>
      <td><%= circular.details %></td>
      <td><%= circular.date %></td>
    </tr>
    <% }) %>
  </table>
</div>
<%- include("../partials/footer"); -%>
