<%- include("../partials/header"); -%> <%- include("../partials/user-navbar");
-%>

<title>Smart Society | contact</title>

<br />
<h1 class="table-title">contact us</h1>
<br />
<div class="container">
  <section class="mb-4">
    <br />
    <div class="row">
      <% admins.forEach(admin => { %>
      <!-- Grid column-->
      <div class="col-md text-center">
        <h3><%= admin.name %></h3>
        <br />
        <ul class="list-unstyled mb-0">
          <li>
            <i class="fa-regular fa-envelope fa-2x"></i>
            <h4>
              <a href="mailto:<%= admin.email %>"><%= admin.email %></a>
            </h4>
          </li>

          <li>
            <i class="fas fa-phone mt-4 fa-2x"></i>
            <h4>
              <a href="tel:<%= admin.contact %>"> <%= admin.contact %></a>
            </h4>
          </li>

          <li>
            <i class="fa-brands fa-whatsapp mt-4 fa-2x"></i>
            <h4>
              <a
                href="https://wa.me/<%= admin.contact %>?text=Hi, I'm <%= userName %> from <%= blockNo%>."
              >
                <%= admin.contact %>
              </a>
            </h4>
          </li>
        </ul>
      </div>
      <br />
      <!--Grid column -->
      <% }) %>
    </div>
  </section>
</div>
<%- include("../partials/footer"); -%>
